body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}

.content-header {
    margin: 0;
    background-color: #111;
    padding:13px;
}

.content-header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.content-header li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DC143C;
    border-radius: 20px;
    padding: 5px 10px; 
    display: inline-block;
} 

.profile-pic h1, h2 {
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    background-color: #401c4f;
}

.profile-card {
    background: black;
    width: 240px;
    height: 450px;
    padding: 2rem;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
}

.profile-pic img {
    border-radius: 50px;
    box-shadow: 10px 10px 10px #DC143C;
}

.sobre {
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
}

.sobre h1 {
    color: white;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
}

.sobre h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #e21b5a);
}

.sobre p {
    color: #555;
    margin: 1.5rem 0;
    font-size: large;
}

.Habilidades {
    text-align: center;
    position: relative;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Ajuste conforme necessário */
    margin: 0 auto;
}

.carousel-item {
    display: none;
    flex: 0 0 100%;
}

.carousel-item.active {
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1;
}

button.prev {
    left: 500px; 
}

button.next {
    right: 500px;
}

button:hover {
    background-color: rgba(0,0,0,0.8);
}



.projeto {
    background-color: #401c4f;
    text-align: center;
    font-size: large;
}

.projeto h1   {
    background-color: #DC143C;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 20px; 
}


.card {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
}

.card h2 {
    color: #DC143C;
    text-align: center;
    padding-bottom: 15px;
}

.card p {
    color: #ccc;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DC143C;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
}

.content-footer {
    background-color: black;
    color: #DC143C;
    text-align: center;
    padding: 1rem 0;
}